.header {
    &-1 {
        font-size: 36px;
        line-height: 43px;
        margin-bottom: 0px;
    }

    &-2 {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 0px;
    }
}