.title {
    font-size: 18px;
    font-weight: 700;
}

.action-buttons {
    display: flex;
    justify-content: center;
}

.action-buttons button {
    font-size: 14px;
    width: 50%;
}

.date-input {
    width: 221px;
}