@use '/src/assets/scss/colors' as colors;

.form-column {
    background-color: colors.$medium-gray;
    .title {
        font-size: 2rem;
        margin: 1.5rem 0;
    }
    
    mat-form-field, button {
        display: block;
    }

    button {
        width: 100%;
        margin-top: 0.5rem;
    }
}