.header {
  width: 100%;

  &__toolbar {
    background: var(--primary-dark);
    color: var(--text-light);

    display: flex;
    justify-content: space-between;
    align-items: center;

    &-img-avatar {
      width: 3rem;
      cursor: pointer;
    }
  }
}