<header id="header" class="header">
  <mat-toolbar class="header__toolbar">
    <img
      src="assets/img/svgs/payFriends-white.svg"
      alt="Imagem escrito PayFriends"
    />

    <img
      id="user-menu"
      role="button"
      aria-label="Botão para abrir o menu do usuário"
      class="header__toolbar-img-avatar"
      src="assets/img/svgs/user-default.svg"
      [matMenuTriggerFor]="menu"
    />
    <mat-menu id="userMenu" #menu="matMenu">
      <button mat-menu-item (click)="goToProfile()">Perfil</button>
      <button mat-menu-item (click)="logout()">Sair</button>
    </mat-menu>
  </mat-toolbar>
</header>
