@import '../../../../assets/styles/index';

header {
    width: 100%;

    .header {
        @include flex($justify: space-between, $align: center);
        background-color: $dark-blue-background;
        padding: 1.75rem;
        width: 100%;

        &__logo {
            @include flex($justify: center, $align: center);
        }

        &__profile {
            height: 45px;
            width: 45px;

            img {
                width: 100%;
            }
        }
    }
}