.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--black);
    height: 100vh;
    a {
      text-decoration: none;
      background-color: var(--blue);
      color: var(--white);
      padding: 12px 24px;
      display: inline-block;
      border-radius: 8px;
      font-size: 14px;
      text-transform: uppercase;
      transition: 0.4s;
    }
}

