.content{
    padding: 48px;
    background: #F2F2F2;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title{
    margin-top: 17px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #333333;
}