:root {
    --black: #333333;
    --blue: #007dfe;
    --dark-blue: #002d69;
    --black-border: rgba(0, 0, 0, 0.12);
    --black-input: rgba(0, 0, 0, 0.87);
    --black-title: rgba(0, 0, 0, 0.6);
    --white: #ffffff;
    --gray: #f2f2f2;
    --dark-gray: #cecdcd;
    --black-gray: #2D3540;
    --black-secundary: #373737;
    --black-secundary-title: #69788C;
    --gray-secundary: #E6ECF0;
    --gray-secundary-btn: ##F5F5F5;
    --gray-table-line: #F5F8FA;
    --gray-table-border: #CFDCE5;
    --success: #d4edda;
    --warning: #fff3cd;
    --error: #f8d7da;
}
// background-color
.bg-gray {
    background-color: var(--gray);
}
.bg-dark-gray {
    background-color: var(--dark-gray);
}
.bg-white {
    background-color: var(--white);
}
.bg-blue {
    background-color: var(--blue);
}
.bg-gray-secundary {
    background-color: var(--gray-secundary);
}
.bg-gray-secundary-btn {
    background-color: var(--gray-secundary-btn) !important;
}
// color
.cl-black {
    color: var(--black);
}
.cl-dark-blue {
    color: var(--dark-blue);
}
.cl-blue {
    color: var(--blue);
}
.cl-gray {
    color: var(--gray);
}
.cl-black-border {
    color: var(--black-border);
}
.cl-black-input {
    color: var(--black-input);
}
.cl-black-title {
    color: var(--black-title);
}
.cl-white {
    color: var(--white);
}
.cl-black-gray {
    color: var(--black-gray) !important;
}
.cl-black-secundary {
    color: var(--black-secundary) !important;
}
.cl-black-secundary-title {
    color: var(--black-secundary-title) !important;
}
