@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');
// font-family
.ft-montserrat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.ft-roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
// font-weight
.ft-weight-800 {
    font-weight: 800;
}
.ft-weight-700 {
    font-weight: 700;
}
.ft-weight-600 {
    font-weight: 600;
}  
.ft-weight-400 {
    font-weight: 400;
}
.ft-weight-300 {
    font-weight: 300;
}
// font-size
.ft-size-30 {
    font-size: 30px;
}
.ft-size-24 {
    font-size: 24px;
}
.ft-size-16 {
    font-size: 16px;
}
.ft-size-14 {
    font-size: 14px;
}
.ft-size-12 {
    font-size: 12px;
}