
<form [formGroup]="loginForm">
    <br>
    <br>
    <div class="form-field">
        <span class="p-float-label">
            <input name="email" id="email-input" formControlName="email" type="text" pInputText> 
            <label for="float-input">Email</label>
        </span>
    </div>
    <br>
    <br>
    <div class="form-field">
        <span class="p-float-label">
            <p-password name="password" id="password-input" formControlName="password" [toggleMask]="true" [feedback]="false"></p-password>
            <label for="float-input">Password</label>
        </span>
    </div>
    <br>
    <br>
    <button pButton type="button" (click)="login()" label="ENTRAR"></button>
</form>