.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 26px;
  height: 26px;
  animation: spin 1s linear infinite;

  &.large {
    width: 100px;
    height: 100px;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}