<main>

    <header>
        <img src="" alt="">
        <img src="" alt="">
    </header>

    <h1>Meus pagamentos</h1>

    <section>
        <button>Adicionar pagamento</button>

        <div>
            <input type="text">
            <button>Filtrar</button>
            <label for="">Exibir</label>
            <select name="" id="">
                <option value="">5</option>
                <option value="">5</option>
                <option value="">5</option>
            </select>


            <table>
                <thead>
                    <tr>
                        <th>Usuário</th>
                        <th>Título</th>
                        <th>Data</th>
                        <th>Valor</th>
                        <th>Pago</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>
