@import "mixins";

.profile {
  width: 100%;

  &__buttons-actions-container {
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    @include md {
      justify-content: flex-end;
    }

    button {
      width: 200px;

      &:first-child {
        margin-right: 1rem;
      }
    }
  }
}
