<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off" class="container">

  <div class="row">
    <mat-form-field appearance="outline" class="col-12 col-sm-6">
      <mat-label>Usuário<span>*</span></mat-label>
      <input matInput formControlName="userName" maxlength="50">
      <mat-error *ngIf="form.get('userName')?.errors?.required">Usuário é obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12 col-sm-6">
      <mat-label>Valor<span>*</span></mat-label>
      <input matInput formControlName="value" appDigitDecimaNumber maxlength="20">
      <mat-error *ngIf="form.get('value')?.errors?.required">Valor é obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12 col-sm-6">
      <mat-label>Data<span>*</span></mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" (focus)="picker.open()">
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('date')?.errors?.required">Data é obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-12 col-sm-6">
      <mat-label>Título</mat-label>
      <input matInput formControlName="title" maxlength="50">
    </mat-form-field>
  </div>

  <div class="row justify-content-end mt-4">
    <button type="button" (click)="cancel()" class="col-12 col-sm-3 cl-black ft-weight-500 ft-size-14 ft-roboto">
      {{'Cancelar' | uppercase}}
    </button>

    <button class="col-12 col-sm-3 bg-blue cl-white ft-weight-500 ft-size-14 ft-roboto">
      {{'Salvar' | uppercase}}
    </button>
  </div>

</form>