h3 {
    font-weight: 500;
}

.payment-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;

    &__input {
        width: 326px;
    }
}

.dialog-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 50px;

    &__button:last-of-type {
        margin-left: 20px;
    }
}