<div class="payments-list">
  <div class="payments-list__box-pagination">
    <mat-form-field
      appearance="outline"
      class="payments-list__box-pagination--input"
    >
      <mat-label>Pesquisar por usuário</mat-label>
      <input
        placeholder="Pesquisar por usuário"
        matInput
        [(ngModel)]="filterValue"
        (ngModelChange)="applyFilter()"
      />
    </mat-form-field>

    <mat-paginator
      [pageIndex]="payments.page"
      [length]="payments.total"
      [pageSize]="payments.limit"
      [pageSizeOptions]="[5, 10, 20, 50, 100]"
      aria-label="Selecione a pagina para filtrar os pagamentos"
      (page)="pageChange($event)"
    >
    </mat-paginator>
  </div>

  <table
    mat-table
    matSort
    [dataSource]="dataSource"
    class="payments-list__table"
  >
    <ng-container matColumnDef="username">
      <th
        class="payments-list__table-th--bold"
        mat-sort-header
        mat-header-cell
        *matHeaderCellDef
      >
        Usuário
      </th>
      <td class="payments-list__table-td" mat-cell *matCellDef="let element">
        <span class="payments-list__table-td-span">{{ element.name }}</span>
        <span class="payments-list__table-td-span"
          >@{{ element.username }}</span
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th
        class="payments-list__table-th--bold"
        mat-sort-header
        mat-header-cell
        *matHeaderCellDef
      >
        Título
      </th>
      <td class="payments-list__table-td" mat-cell *matCellDef="let element">
        <span>{{ element.title }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th
        class="payments-list__table-th--bold"
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
      >
        Data
      </th>
      <td class="payments-list__table-td" mat-cell *matCellDef="let element">
        <span class="payments-list__table-td-span">{{
          element.date | date: "mediumDate"
        }}</span>
        <span class="payments-list__table-td-span">{{
          element.date | date: "h:mm a"
        }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th
        class="payments-list__table-th--bold"
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
      >
        Valor
      </th>
      <td class="payments-list__table-td" mat-cell *matCellDef="let element">
        <span>{{ element.value | currency: "BRL" }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="isPayed">
      <th
        class="payments-list__table-th--bold"
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
      >
        Pago
      </th>
      <td class="payments-list__table-td" mat-cell *matCellDef="let element">
        <mat-checkbox
          color="primary"
          [(ngModel)]="element.isPayed"
          (ngModelChange)="onPayedEvent(element)"
        ></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td
        class="payments-list__table-td payments-list__table-td--actions"
        mat-cell
        *matCellDef="let element"
      >
        <img
          src="assets/img/svg/edit-icon.svg"
          (click)="onEditEvent(element)"
          role="button"
          aria-pressed="false"
        />

        <img
          src="assets/img/svg/delete-icon.svg"
          (click)="onDeleteEvent(element)"
          role="button"
          aria-pressed="false"
        />
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
