.payments-list {
  width: 100%;

  margin-top: 1.5rem;

  &__box-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--input {
      width: 15rem;
    }

    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
      background-color: transparent;
    }

    ::ng-deep .mat-select-value {
      color: var(--body-text);
      font-size: 1rem;
      margin-left: 1rem;
    }

    ::ng-deep .mat-select-arrow {
      color: var(--backgroud);
    }

    ::ng-deep .mat-option-text {
      text-align: right;
    }

    ::ng-deep .mat-button-wrapper {
      color: var(--backgroud);
    }
  }

  &__table {
    width: 100%;

    &-th--bold {
      font-weight: 500;
      font-size: 1rem;
      color: var(--body-text);
    }

    &-td {
      color: var(--body-text);

      &-span {
        display: block;
        margin: 0.5rem;

        &:last-child {
          color: var(--secondary-text);
        }
      }
    }
  }
}
