@import "variables";

.mat-toolbar {
  background-color: $dark-blue;
  height: 90px;
  display: flex;
  justify-content: space-between;

  .ant-avatar {
    margin-right: 1rem;
  }
  button {
    color: #fff;
  }
}
