<mat-toolbar *ngIf="user$ | async">
  <img src="/assets/logo_2.svg" alt="Logo" />
  <div>
    <span [matTooltip]="(user$ | async).name" matTooltipPosition="left">
      <nz-avatar
        [ngStyle]="{ 'background-color': 'green' }"
        [nzText]="(user$ | async).name[0]"
        nzSize="large"
        style="vertical-align: middle"
      ></nz-avatar>
    </span>
    <button
      id="logout"
      mat-icon-button
      matTooltip="Sair"
      matTooltipPosition="left"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
