<div class="m-4">
    <p class="title">{{this.pageTitle}}</p>
    
    <div class="my-5">
        <div class="d-flex mb-2">
            <div class="floating-input-group mr-2">
                <input type="text" name="name" class="form-control floating-input" [(ngModel)]="name" required>
                <label for="name" class="floating-input-placeholder">Usuário*</label>
            </div>

            <div class="floating-input-group">
                <input type="number" step=".01" name="value" class="form-control floating-input" [(ngModel)]="value" required>
                <label for="value" class="floating-input-placeholder">Valor*</label>
            </div>
        </div>

        <div class="d-flex">
            <div class="floating-input-group mr-2">
                <input type="datetime-local" name="data" class="form-control floating-input date-input" [(ngModel)]="date" valid>
                <label for="title" class="floating-input-placeholder">Data*</label>
            </div>

            <div class="floating-input-group">
                <input type="text" name="title" class="form-control floating-input" [(ngModel)]="title" required>
                <label for="title" class="floating-input-placeholder">Título</label>
            </div>
        </div>

        <div *ngIf="type === 'update'">
            <input class="mr-2" type="checkbox" name="is-payed" [checked]="isPayed" (change)="isPayed = !isPayed">Pago
        </div>
    </div>
    
    <div class="action-buttons justify-content-end mt-5">
        <button class="btn btn-light mr-2 w-25" (click)="cancel()">CANCELAR</button>
        <button class="btn btn-primary w-25" (click)="save()">SALVAR</button>
    </div>
</div>