main {
    font-family: Lato;
    h2 {
        margin: 0;
    }
}

.btn--blue, .btn--gray {
    width: 150px;
}

@media(max-width: 540px){
    mat-dialog-actions {
        flex-wrap: wrap;
        flex-direction: column;
    }

    button {
        margin: 0 0 10px 0;
    }
}