<h1 mat-dialog-title>Excluir pagamento</h1>
<div mat-dialog-content>
  <ul class="dialog__user-details">
    <li>
      <span>Usuário: {{dialogItems.name}}</span>
    </li>
    <li>
      <span>Data: {{dialogItems.date}}</span>
    </li>
    <li>
      <span>Valor: {{dialogItems.value}}</span>
    </li>
  </ul>
  <div class="btn-container">
    <button-atom name="CANCELAR" (click)="closeDialog()"></button-atom>
    <button-atom name="SALVAR" className="button--primary" (click)="deleteItem(dialogItems)"></button-atom>
  </div>
</div>