.np-modal {
  width: 100%;

  &__form {
    margin-top: 3rem;
  }

  &__row-column {
    margin: 0.5rem 0;
  }

  &__box-buttons {
    display: flex;
    justify-content: flex-end;

    gap: 1rem;

    button {
      width: 9rem;
    }

    margin-top: 1rem;
  } 
}