<div class="np-modal">
  <span class="modal__title page__span">{{ title }}</span>

  <form class="np-modal__form" [formGroup]="form">
    <div class="row">
      <div class="col-12 col-md-6 np-modal__row-column">
        <app-input
          id="name"
          label="Nome*"
          placeholder="Nome"
          formControlName="name"
        ></app-input>
      </div>
      <div class="col-12 col-md-6 np-modal__row-column">
        <app-input
          id="username"
          label="Usuário*"
          placeholder="Usuário"
          formControlName="username"
        ></app-input>
      </div>

      <div class="col-12 col-md-6 np-modal__row-column">
        <app-input
          id="value"
          label="Valor*"
          placeholder="Valor"
          formControlName="value"
        ></app-input>
      </div>

      <div class="col-12 col-md-6 np-modal__row-column">
        <app-input
          id="date"
          label="Data*"
          type="datetime-local"
          placeholder="Data"
          formControlName="date"
        ></app-input>
      </div>

      <div class="col-12 col-md-6 np-modal__row-column">
        <app-input
          id="title"
          label="Título*"
          placeholder="Título"
          formControlName="title"
        ></app-input>
      </div>
    </div>

    <div class="np-modal__box-buttons">
      <button
        id="cancel-btn"
        type="button"
        mat-raised-button
        (click)="onCancelClick()"
      >
        CANCELAR
      </button>
      <button
        id="submit-btn"
        [disabled]="formIsInvalid"
        type="submit"
        mat-raised-button
        color="primary"
        (click)="submitNewGroup()"
      >
        SALVAR
      </button>
    </div>
  </form>
</div>
