.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  background-color: #002d69;
  width: 100vw;
  height: 8vh;
}

.avatar {
  color: #fff;
}

.mat-icon {
  margin: 0 1rem 0 0;
  cursor: pointer;
}