.custom-modal  {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);

  .modal-content {
    background-color: #FFFFFF;
    min-width: 50%;
    border-radius: 2px;
    padding: 3.8rem;
    margin: 2%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .25);

    &.small {
      width: 410px;
      min-width: 410px;
    }

    .modal-title {
      padding-bottom: 1rem;
      margin-bottom: 2rem;
      font-size: 1.8rem;
    }
  }
}