.d-block {
  display: block;
}

.d-none {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: calc(100% - 1.5rem);
    max-height: calc(100% - 1.5rem);
    border: 1px solid #ccc;
    animation-name: slideIn;
    animation-duration: 0.4s;

    @keyframes slideIn {
      from {
        top: 200%;
        opacity: 0;
      }
      to {
        top: 50%;
        opacity: 1;
      }
    }
  }
}
