.header{
    display: flex;
    height: 90px;
    background: #002D69;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.white-logo{
    width: 137px;
    height: 29px;
}

.profile-logout{
    display: flex;
    align-items: center;
}

.profile{
    width: 45px;
    height: 45px;
}

.text-header{
    margin-left: 10px;
    font-size: 45px;
    color: white;
}

.exit-icon{
    font-size: 28px;
    color: white;
}