@import '/src/assets/styles/colors.scss';

.login {
  display: flex;
  height: 100vh;

  &__main {
    flex: 1;
    width: 35%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .logo,
    .title {
      font-family: 'Montserrat', sans-serif;
    }

    .logo {
      font-size: 24px;
      line-height: 30px;

      &--strong {
        font-weight: bolder;
        color: $primary-color;
      }

      &--normal {
        font-weight: 300;
        color: $accent-color;
      }
    }

    .title {
      margin: 18px 0;
      font-size: 30px;
      font-weight: 600;
    }

    .form {
      display: flex;
      flex-direction: column;

      &__submit-button {
        letter-spacing: 1.25px;
        background-color: $accent-color;
      }
    }
  }

  &__aside {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
  }
}
