.table-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-btn-page {
  line-height: 1.8rem;
  width: auto;
  height: 21px;
  display: flex;
  justify-content: center;
}