.modal-new-payment {
  width: 100%;

  .title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    width: 233px;
    height: 23px;
    margin-top: 40px;
    margin-left: 38px;
    color: #373737;
  }
  
  .form-column {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  .btn-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;

    button {
      width: 150px;
    }
  }

  .column {
    margin: 14px 0px 14px 0px;
  }
}