<div class="container" style="padding: 30px;">
  <div class="row" style="display: flex;">
    <div class="title">
      <h3>{{ 'Adicionar pagamento' }}</h3>
    </div>
    <img src="assets/img/svg/fechar.svg" alt="Ícone de Fechar" (click)="close()" />

  </div>

  <div class="w-100 d-flex flex-column">
    <!-- <form>
        <div class="row">
            <mat-form-field appearance="outline" class="col-4">
                <mat-label>Valor (R$)</mat-label>
                <input type="text" currencyMask matInput [formControl]="form.controls.price" />
                <mat-icon *ngIf='form.controls.price.valid' matSuffix>done</mat-icon>
            </mat-form-field>
        </div>
    </form> -->
</div>
  