<div class="modal-new-payment">
  <span class="title">{{ title }}</span>

  <form class="form-column">
    <div class="row">
      <div class="col-12 col-md-6 column">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Nome*</mat-label>
          <input 
            type="text" 
            placeholder="Nome*" 
            [formControl]="form.controls.name" 
            matInput/>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6 column">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Usuário*</mat-label>
          <input 
            type="text" 
            placeholder="Usuário*" 
            [formControl]="form.controls.username" 
            matInput/>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6 column">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Data*</mat-label>
          <input 
            type="text" 
            placeholder="Data*"
            type="datetime-local"
            name="bdaytime"
            [formControl]="form.controls.date" 
            matInput/>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 column">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Valor*</mat-label>
          <input 
            type="text" 
            placeholder="Valor*" 
            currencyMask
            [formControl]="form.controls.value" 
            matInput/>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6 column">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Título*</mat-label>
          <input 
            type="text" 
            placeholder="Título*" 
            [formControl]="form.controls.title" 
            matInput/>
        </mat-form-field>
      </div>
    </div>
  </form>

  <div class="btn-action">
    <button
      id="cancel-btn"
      type="button"
      mat-raised-button
      (click)="cancelAddPayment()"
    >
      CANCELAR
    </button>
    <button
      id="submit-btn"
      [disabled]="formIsInvalid"
      type="submit"
      mat-raised-button
      color="primary"
      (click)="addPayment()"
    >
      SALVAR
    </button>
  </div>
</div>