.content {
  width: 800px;
  height: 490px;
  max-width: 800px;
  max-height: 490px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px;
  z-index: 99999999999999999999999;

  > img {
    cursor: pointer;
    position: relative;
    top: -29px;
    left: 420px;
  }


  .title {
    margin: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 44px;
    color: #373737;
  }
}

.centralizer {
  display: flex;
  justify-content: center;
}