<div class="payment-container">
  <h1>Adicionar pagamento</h1>
  <section class="form" [formGroup]="formGroup">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input id="user_field" required formControlName="name" matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Valor</mat-label>
      <input
        currencyMask
        [options]="{
          prefix: 'R$ ',
          thousands: '.',
          decimal: ',',
          align: 'left',
          allowNegative: false
        }"
        id="value_field"
        required
        formControlName="value"
        matInput
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Data</mat-label>
      <input matInput formControlName="date" [matDatepicker]="picker" />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Título</mat-label>
      <input id="title_field" required formControlName="title" matInput />
    </mat-form-field>
    <mat-checkbox id="isPayed_field" formControlName="isPayed"
      >Pagamento Realizado ?</mat-checkbox
    >
  </section>
  <section class="button-area">
    <button class="sec-btn" (click)="close()">CANCELAR</button>
    <button class="main-btn" (click)="save()">SALVAR</button>
  </section>
</div>
