.container {
    margin-top: 4rem;

    table {
        width: 100%;
        border-radius: 8px;
        overflow:hidden !important;

        button {
            border-color: transparent;
            background-color: transparent;
        }

        .noData{
            text-align: center;
        }
        
    }
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: transparent;
    background-color: var(--blue);
}