.container {
    margin-top: 4rem;

    table {
        width: 100%;
        border-radius: 8px;
        overflow:hidden !important;

        button {
            border-color: transparent;
            background-color: transparent;
        }

        .noData{
            text-align: center;
        }

        .header-filter{
            th.mat-header-cell {
                border-bottom-style: none;
            }
        }

        td.mat-cell, td.mat-footer-cell {
            border-bottom-width: 0;
            border-bottom-style: none;
        }

        th.mat-header-cell {
            border-bottom-width: 2px;
        }

        .mat-row:nth-child(even){
            background-color: var(--gray-table-line);
        }
        
        .mat-row:nth-child(odd){
            background-color: var(--white);
        }
        
    }
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: transparent;
    background-color: var(--blue);
}