<section class="ms-2">
  <div class="row cl-black ft-size-16 ft-roboto">
    <p>Usuário: {{payment?.name}}</p>
    <p>Data: {{payment?.date | date:'dd/MM/yyyy'}}</p>
    <p>Valor: {{payment?.value | currency}}</p>
  </div>

  <div class="row mt-4">
    <button type="button" (click)="cancel()" class="col-12 col-sm-6 cl-black ft-weight-500 ft-size-14 ft-roboto">
      {{'Cancelar' | uppercase}}
    </button>

    <button type="button" (click)="delete()"
      class="col-12 col-sm-6 bg-blue cl-white ft-weight-500 ft-size-14 ft-roboto">
      {{'Salvar' | uppercase}}
    </button>
  </div>
</section>