<app-header></app-header>

<app-payment *ngFor="let task of tasks; let i = index" 
    [task]="task"
    [index]="i">
</app-payment>

<div class="container">
    <h2 class="title"> Meus pagamentos </h2>

    <div class="my-payments">
        <div class="my-payments__header">
            <div class="header__pagination">
                <app-pagination (nextPage)="nextPage()" 
                    (previousPage)="previousPage()"
                    (goToPage)="goToPage($event)"
                    [pagination]="pagination">
                </app-pagination>
            </div>
        </div>
    
        <div>
            <app-payment *ngFor="let task of tasks; let i = index" 
                [task]="task"
                [index]="i">
            </app-payment>
        </div>
    </div>
</div>
