@import '../tokens/spacing.scss';

$spacings: $spacing-1, $spacing-2, $spacing-3, $spacing-4, $spacing-5,
  $spacing-6, $spacing-7, $spacing-8, $spacing-9, $spacing-10, $spacing-11,
  $spacing-12, $spacing-13, $spacing-14, $spacing-15, $spacing-16, $spacing-17;

@for $i from 1 through length($spacings) {
  $spacing: nth($spacings, $i);

  .pd-#{$i} {
    padding: $spacing;
  }

  .pd\:t-#{$i} {
    padding-top: $spacing;
  }

  .pd\:r-#{$i} {
    padding-right: $spacing;
  }

  .pd\:b-#{$i} {
    padding-bottom: $spacing;
  }

  .pd\:l-#{$i} {
    padding-left: $spacing;
  }

  .pd\:x-#{$i} {
    padding-left: $spacing;
    padding-right: $spacing;
  }

  .pd\:y-#{$i} {
    padding-top: $spacing;
    padding-bottom: $spacing;
  }

  .mg-#{$i} {
    margin: $spacing;
  }

  .mg\:t-#{$i} {
    margin-top: $spacing;
  }

  .mg\:r-#{$i} {
    margin-right: $spacing;
  }

  .mg\:b-#{$i} {
    margin-bottom: $spacing;
  }

  .mg\:l-#{$i} {
    margin-left: $spacing;
  }

  .mg\:x-#{$i} {
    margin-left: $spacing;
    margin-right: $spacing;
  }

  .mg\:y-#{$i} {
    margin-top: $spacing;
    margin-bottom: $spacing;
  }
}
