td {
  padding: 1.6rem 1.2rem;
  font-weight: 400;
  text-align: left;
}

.table-col-flex {
  display: flex;
  align-items: center;
}

.secondary-info {
color: #69788C;
margin-top: 0.4rem;
font-size: 1.2rem;
}