$color-0: #ffffff;
$color-50: #f2f2f2;
$color-100: #f5f5f5;
$color-200: #f5f8fa;
$color-300: #007DFE;
$color-400: #002D69;
$color-500: #E6ECF0;
$color-600: #F5F5F5;
$color-700: #69788C;
$color-800: #2D3540;
$color-900: #333333;
$color-1000: #000000;
$color-error: #DD2F22;
