$spacing-0: 0px;
$spacing-1: 0.0625rem; //1px
$spacing-2: 0.125rem; //2px
$spacing-3: 0.25rem; // 4px
$spacing-4: 0.5rem; // 8px
$spacing-5: 0.75rem; //12px
$spacing-6: 1rem; //16px
$spacing-7: 1.25rem; //20px
$spacing-8: 1.5rem; //24px
$spacing-9: 2rem; //32px
$spacing-10: 2.5rem; //40px
$spacing-11: 3rem; //48px
$spacing-12: 3.5rem; //56px
$spacing-13: 4rem; //64px
$spacing-14: 4.5rem; //72px
$spacing-15: 5rem; //80px
$spacing-16: 5.5rem; //88px
$spacing-17: 6rem; //96px
