@import "../../../../../../variables.scss";

.filter {

    &-group {
        position: relative;

        &__icon {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            cursor: pointer;
            color: $dark-grey;
        }
    }

    input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid $grey;
        border-radius: 6px;
    }
}