<form novalidate [formGroup]="userForm" class="signup-form">
  <img
    class="signup-logo"
    src="../../../assets/logo.svg"
    title="PayFriends"
    alt="PayFriends application logo"
  />
  <h1 class="signup-title">Crie sua conta</h1>

  <div class="form-group" id="nome">
    <label for="nome">Nome</label>
    <input
      formControlName="nome"
      type="text"
      (focus)="validate('nome')"
      (keydown)="validate('nome')"
    />
  </div>

  <div class="form-group" id="email">
    <label for="email">Email</label>
    <input
      formControlName="email"
      id="email"
      type="email"
      (focus)="validate('email')"
      (keydown)="validate('email')"
    />
  </div>

  <div class="form-group" id="password">
    <label #labelPassword for="password">Password</label>
    <input
      #password
      formControlName="password"
      id="password"
      type="password"
      (focus)="validate('password')"
      (keydown)="validate('password')"
    />
    <img
      class="password-eye"
      src="{{
        passwordVisible
          ? '../../../assets/open-password-eye.svg'
          : '../../../assets/closed-password-eye.png'
      }}"
      alt="show password"
      (mousedown)="enablePasswordVisibility()"
      (mouseup)="disablePasswordVisibility()"
    />
  </div>

  <div class="form-group" id="passwordConfirmation">
    <label #labelPasswordConfirmation for="password">Confirmar senha</label>
    <input
      #passwordConfirmation
      formControlName="passwordConfirmation"
      id="passwordConfirmation"
      type="password"
      (focus)="validate('passwordConfirmation')"
      (keydown)="validate('passwordConfirmation')"
    />
    <img
      class="password-eye"
      src="{{
        passwordConfirmationVisible
          ? '../../../assets/open-password-eye.svg'
          : '../../../assets/closed-password-eye.png'
      }}"
      alt="show password"
      (mousedown)="enablePasswordConfirmationVisibility()"
      (mouseup)="disablePasswordConfirmationVisibility()"
    />
  </div>

  <button class="signup-entrar" (click)="signup()">
    {{ loading ? "" : "Cadastrar" }}
    <span [ngClass]="loading ? 'loader' : ''"></span>
  </button>

  <div class="signup">
    <label for="Signup">Já tem uma conta?</label>
    <button (click)="backToSignin()">Entre</button>
  </div>
</form>
