<section class="container">
  <div class="row">
    <div class="col-12 col-sm-6">
      <h1 class="ms-2">
        <span class="cl-black-secundary ft-weight-700 ft-size-18 ft-montserrat">
          Filtrar por
        </span>
      </h1>
    </div>
    <div class="col-12 col-sm-6">
      <button class="mt-2 btn-clean cl-blue ft-weight-500 ft-size-14 ft-roboto" type="button" (click)="onClean(true)">
        Limpar
      </button>
    </div>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="row">
      <div class="col-sm-6">
        <div class="m-2">
          <mat-form-field appearance="outline" class="width-form">
            <mat-label>Pago</mat-label>
            <mat-select formControlName="payed">
              <mat-option value="">Selecione</mat-option>
              <mat-option value="true">Sim</mat-option>
              <mat-option value="false">Não</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="m-2">
          <mat-form-field appearance="outline" class="width-form">
            <mat-label>Valor</mat-label>
            <input matInput formControlName="value" appDigitDecimaNumber maxlength="20">
          </mat-form-field>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="m-2">
          <mat-form-field appearance="outline" class="width-form">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" (focus)="picker.open()">
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="m-2">
          <mat-form-field appearance="outline" class="width-form">
            <mat-label>Título</mat-label>
            <input matInput formControlName="title" maxlength="50">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row justify-content-end mt-2">
      <button type="button" (click)="onClean(false)"
        class="mt-2 mx-2 col-12 col-sm-3 cl-black ft-weight-500 ft-size-14 ft-roboto">
        {{'Cancelar' | uppercase}}
      </button>
      <button class="mt-2 mx-2 col-12 col-sm-3 bg-blue cl-white ft-weight-500 ft-size-14 ft-roboto">
        {{'Aplicar' | uppercase}}
      </button>
    </div>
  </form>
</section>