<!-- LEIA COM ATENÇÃO E DEPOIS EXCLUA -->
<!-- <div style="padding: 1%">
  <h1>{{ title }}</h1> 
  <p>
    Seja muito bem vindos ao nosso teste. 
  </p>
  <p style="margin-bottom: 1.5em;">
    Antes de iniciar, leia o Readme com atenção e certifique-se que você tenha acesso ao layout proposto no Figma.
  </p>
  <ul>
    <li style="margin-bottom: 1em;">
      <span>Não esqueça de subir a API, para maiores informações leia o readme.</span>
    </li>
    <li style="margin-bottom: 1em;">
      <span>No Figma existem algumas orientações de layout e components e no Readme existem algumas dicas legais para você utilizar no teste.</span>
    </li>
    <li style="margin-bottom: 1em;">
      <span>Qualquer dúvida, pergunte para os Recruiters, eles irão te auxiliar caso tenha algum problema.</span>
    </li>
    <li>
      <span>Boa sorte sorte e dê o seu máximo :)</span>
    </li>
  </ul>
</div> -->

<div class="d-flex h-100">
  <div class="row w-100 m-0">
    <div class="col-md-5 col-lg-4 d-flex align-items-center justify-content-center bg-light">
      <div class="d-block form">
        <img src="assets/logo.png" alt="Logo" height="20">

        <h3 class="mt-3 mb-5">Bem vindo de volta</h3>

        <div class="form-group my-4">
          <input type="email" class="form-control" required>
          <label for="email" class="form-control-placeholder">Email</label>
        </div>

        <div class="form-group my-4">
          <div class="input-group">
            <input [type]="showPassword ? 'text' : 'password'" class="form-control" required>
            <label for="password" class="form-control-placeholder">Senha</label>
            <div class="input-group-prepend">
              <button class="btn btn-outline-secondary" (click)="showPassword = !showPassword">
                <fa-icon [icon]="faEye"></fa-icon>
              </button>
            </div>
          </div>
        </div>

        <button class="btn btn-block btn-primary my-4">
          Entrar
        </button>
      </div>
    </div>
  
    <div class="col-md-7 col-lg-8 d-flex align-items-center justify-content-center login-image">
      <img src="assets/login-image.png" alt="Imagem Login">
    </div>
  </div>
</div>
