.form {
    width: 65%;
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 0;
    transition: all 300ms;
    opacity: 0.5;
    padding-left: 10px;
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
    font-size: 80%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    padding-left: 0px;
}

.login-image img {
    max-width: 80%;
}


@media only screen and (max-width: 767px) {
    .form {
        width: 90%;
    }
}
