<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button
      with menu icon" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/"><mat-icon>home</mat-icon>Home</button>
            <button mat-menu-item routerLink="/my-payments"><mat-icon>payment</mat-icon>Meus Pagamentos</button>
            <button mat-menu-item routerLink="/my-payments"><mat-icon>dashboard</mat-icon>Dashboard</button>
        </mat-menu>
        <span class="ml-2"><img src="../../../assets/Logo.png" /></span>
        <span class="example-spacer"></span>
        <button mat-icon-button (click)="deslogar()">
      <mat-icon>logout</mat-icon>
    </button>
    </mat-toolbar>
</p>

<mat-card-content>
    <router-outlet></router-outlet>
</mat-card-content>