<p-toast></p-toast>
<div>
    <p-table #paymentsTable [value]="payments" [rows]="tableRowsPerPage" responsiveLayout="scroll" dataKey="id"
        [globalFilterFields]="['name','username','title','date','value','status','isPayed']" [rowHover]="true">
        <ng-template pTemplate="header">
            <tr>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText [(ngModel)]="nameFilter" (keyup)="filterPaymentsByName()"> 
                </span>
                <span>
                    <p-paginator [rows]="tableRowsPerPage" [totalRecords]="totalPaymentRecords" [rowsPerPageOptions]="[5,8,10]"
                        (onPageChange)="handleTablePagination($event)">
                    </p-paginator>
                </span>
            </tr>
            <tr>
                <th>Usuário</th>
                <th>Título</th>
                <th>Data</th>
                <th>Valor</th>
                <th>Pago</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-payment>
            <tr>
                <td>
                    <span class="p-column-title">Name</span>
                    {{payment.name}}
                    <br>
                    <span class="p-column-title">Username</span>
                    {{payment.username}}
                </td>
                <td>
                    <span class="p-column-title">Title</span>
                    {{payment.title}}
                </td>
                <td>
                    <span class="p-column-title">Date</span>
                    {{payment.date}}
                </td>
                <td>
                    <span class="p-column-title">Value</span>
                    {{payment.value}}
                </td>
                <td>
                    <span class="p-column-title">isPayed</span>
                    {{payment.isPayed}}
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="updatePayment(payment)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletePayment(payment)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>