<p-toast></p-toast>
<div>
    <div id="add-payment-section">
        <button pButton pRipple label="ADICIONAR PAGAMENTO" (click)="showCreatePaymentDialog()"></button>
    </div>
    <p-table #paymentsTable [value]="payments" [rows]="tableRowsPerPage" responsiveLayout="scroll" dataKey="id"
        [globalFilterFields]="['name','username','title','date','value','status','isPayed']" [rowHover]="true"
        styleClass="p-datatable-striped" >
        <ng-template pTemplate="header">
            <tr>
                <th colspan="9">
                    <span id="payment-table-header-options">
                        <div id="payment-filter-section">
                            <span class="p-input-icon-right">
                                <i class="pi pi-search"></i>
                                <input type="text" id="input-filter-payments" pInputText [(ngModel)]="nameFilter" placeholder="Pesquisar por usuário" (keyup)="filterPaymentsByName()"> 
                            </span>
                            <p-chip label="Filtrar" icon="pi pi-sliders-v"></p-chip>
                        </div>
                        <p-paginator [rows]="tableRowsPerPage" [totalRecords]="totalPaymentRecords" [rowsPerPageOptions]="[5,8,10]"
                            templateLeft (onPageChange)="handleTablePagination($event)">
                        </p-paginator>
                    </span>
                </th>
            </tr>
            <tr>
                <th>Usuário</th>
                <th>Título</th>
                <th>Data</th>
                <th>Valor</th>
                <th>Pago</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-payment>
            <tr>
                <td>
                    <span class="p-column-title">Name</span>
                    {{payment.name}}
                    <br>
                    <span class="p-column-title">Username</span>
                    <span class="aditional-col-info">@{{payment.username}}</span>
                </td>
                <td>
                    <span class="p-column-title">Title</span>
                    {{payment.title}}
                </td>
                <td>
                    <span class="p-column-title">Date</span>
                    {{ payment.date | date: 'd MMM y' }} 
                    <br>
                    <span class="aditional-col-info">{{ payment.date | date: 'h:mm a' }}</span>
                </td>
                <td>
                    <span class="p-column-title">Value</span>
                    {{ payment.value | currency: 'BRL' }}
                </td>
                <td>
                    <span class="p-column-title">isPayed</span>
                    {{ payment.isPayed }}
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-text p-button-secondary" (click)="showUpdatePaymentDialog(payment)"></button>
                    <button pButton pRipple icon="pi pi-times-circle" class="p-button-text p-button-secondary" (click)="deletePayment(payment)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog [(visible)]="showPaymentRegisterDialog" header="{{paymentRegisterDialogPurpose}} pagamento" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <form [formGroup]="paymentForm">
                <div class="payment-form-input">
                    <span class="p-float-label">
                        <input name="name" id="name-input" formControlName="name" type="text" pInputText autofocus> 
                        <label for="float-input">Nome</label>
                        <small class="p-error" *ngIf="paymentFormSubmitted && !paymentForm.value.name">Nome é obrigatório.</small>
                    </span>
                </div>
                <div class="payment-form-input">
                    <span class="p-float-label">
                        <input name="username" id="username-input" formControlName="username" type="text" pInputText> 
                        <label for="float-input">Usuário</label>
                        <small class="p-error" *ngIf="paymentFormSubmitted && !paymentForm.value.username">Usuário é obrigatório.</small>
                    </span>
                </div>
                <div class="payment-form-input">
                    <span class="p-float-label">
                        <p-inputNumber name="value" id="value-input" formControlName="value" mode="currency" currency="BRL"></p-inputNumber>
                        <label for="float-input">Valor</label>
                        <small class="p-error" *ngIf="paymentFormSubmitted && !paymentForm.value.value">Valor é obrigatório.</small>
                    </span>
                </div>
                <div class="payment-form-input">
                    <span class="p-float-label">
                        <p-calendar name="date" id="date-input" formControlName="date" locale="pt-BR" [showIcon]="true" inputId="icon"
                            [showTime]="true" appendTo="body"></p-calendar>
                        <label for="float-input">Data</label>
                        <small class="p-error" *ngIf="paymentFormSubmitted && !paymentForm.value.date">Data é obrigatória.</small>
                    </span>
                </div>
                <div class="payment-form-input">
                    <span class="p-float-label">
                        <input name="title" id="title-input" formControlName="title" type="text" pInputText> 
                        <label for="float-input">Título</label>
                    </span>
                </div>
                <div class="payment-form-input checkbox-input">
                    <p-checkbox name="isPayed" formControlName="isPayed" [binary]="true" inputId="isPayed-checkbox"></p-checkbox>
                    <label for="isPayed-checkbox">Pago</label>
                </div>
            </form>
        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="CANCELAR" icon="pi pi-times" class="p-button-text p-button-secondary cancel-button" (click)="hidePaymentRegisterDialog()"></button>
            <button pButton pRipple label="SALVAR" icon="pi pi-check" class="p-button-text p-button-primary save-button" (click)="savePayment()"></button>
        </ng-template>  
    </p-dialog>
    
    <p-confirmDialog #deletePaymentDialog [style]="{width: '450px'}">
        <ng-template pTemplate="header">
            <h3>Excluir pagamento</h3>
        </ng-template>
        <ng-template pTemplate="footer">
            <button type="button" pButton icon="pi pi-times" label="CANCELAR" class="p-button-text p-button-secondary cancel-button" (click)="deletePaymentDialog.reject()"></button>
            <button type="button" pButton icon="pi pi-check" label="EXCLUIR" class="p-button-text p-button-primary save-button" (click)="deletePaymentDialog.accept()"></button>
        </ng-template>
    </p-confirmDialog>
</div>