<div class="po-wrapper">
    <!--<po-menu p-collapsed [p-menus]="menus"></po-menu>-->

    <po-toolbar
        class="po-mt-1"
        float-right
        [p-profile]="profile"
        [p-profile-actions]="profileActions">
    </po-toolbar>
    <div style="background-color: #002D69">
        <div class="po-pb-2 po-ml-5">
            <img class="po-ml-4 po-ml-5 po-mt-3" src="../assets/images/logo_invertido.svg" />
        </div>
    </div>

    <!--<po-page-default>
        <app-table></app-table>
    </po-page-default>-->
    <app-table></app-table>
  </div>
