<main id="payments" class="payments">
  <span class="page__title page__span">Meus pagamentos</span>
  <div class="payments__box-button">
    <button mat-raised-button color="primary" (click)="openDialog()">
      ADICIONAR PAGAMENTO
    </button>
  </div>

  <ng-container *ngIf="!isLoading; else loadingContainer">
    <app-payments-list-table
      [payments]="payments"
      (pageChangeEvent)="getAllPayments()"
    ></app-payments-list-table>
  </ng-container>

  <ng-template #loadingContainer>
    <div class="payments__box-loading">
      <mat-spinner class="payments__box-loading-spinner"></mat-spinner>
      <span class="payments__box-loading-title">Carregando pagamentos</span>
    </div>
  </ng-template>
</main>
