<div id="payments" class="payments">
  <span class="page__title page__span">Meus pagamentos</span>
  <div class="payments__box-button">
    <button mat-raised-button color="primary" (click)="openNewPaymentDialog()">
      ADICIONAR PAGAMENTO
    </button>
  </div>
  <div class="payments__box-pagination">
    <form [formGroup]="filterForm">
      <app-input
        label="Pesquisar por usuário"
        type="search"
        icon="search"
        class="payments__box-pagination--input"
        placeholder="Pesquisar por usuário"
        formControlName="value"
        class="payments__search"
      ></app-input>
    </form>
    <mat-paginator
      aria-labelledby="Paginação dos pagamentos"
      [pageIndex]="payments.page"
      [length]="payments.total"
      [pageSize]="payments.limit"
      [pageSizeOptions]="[5, 10, 20, 50, 100]"
      aria-label="Selecione a pagina para filtrar os pagamentos"
      (page)="handlePageEvent($event)"
    >
    </mat-paginator>
  </div>

  <div class="search-table-outter">
    <table mat-table matSort [dataSource]="dataSource" class="payments__table">
      <ng-container matColumnDef="username">
        <th
          class="payments__table-th payments__table-th--bold"
          mat-header-cell
          *matHeaderCellDef
        >
          <span>Usuário</span>
          <app-table-sort
            class="payments__table-th payments__table-th--sort-icon"
            (sortEvent)="handleSort('username')"
          ></app-table-sort>
        </th>
        <td class="payments__table-td" mat-cell *matCellDef="let element">
          <span class="payments__table-td-span">{{ element.name }}</span>
          <span class="payments__table-td-span">@{{ element.username }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th
          class="payments__table-th payments__table-th--bold"
          mat-header-cell
          *matHeaderCellDef
        >
          Título
          <app-table-sort
            class="payments__table-th--sort-icon"
            (sortEvent)="handleSort('title')"
          ></app-table-sort>
        </th>
        <td class="payments__table-td" mat-cell *matCellDef="let element">
          <span>{{ element.title }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th
          class="payments__table-th payments__table-th--bold"
          mat-header-cell
          *matHeaderCellDef
        >
          Data
          <app-table-sort
            class="payments__table-th payments__table-th--sort-icon"
            (sortEvent)="handleSort('date')"
          ></app-table-sort>
        </th>
        <td class="payments__table-td" mat-cell *matCellDef="let element">
          <span class="payments__table-td-span">{{
            element.date | date: "mediumDate"
          }}</span>
          <span class="payments__table-td-span">{{
            element.date | date: "h:mm a"
          }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th
          class="payments__table-th payments__table-th--bold"
          mat-header-cell
          *matHeaderCellDef
        >
          Valor
          <app-table-sort
            class="payments__table-th payments__table-th--sort-icon"
            (sortEvent)="handleSort('value')"
          ></app-table-sort>
        </th>
        <td class="payments__table-td" mat-cell *matCellDef="let element">
          <span>{{ element.value | currency: "BRL" }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="isPayed">
        <th
          class="payments__table-th payments__table-th--bold"
          mat-header-cell
          *matHeaderCellDef
        >
          Pago
          <app-table-sort
            class="payments__table-th payments__table-th--sort-icon"
            (sortEvent)="handleSort('isPayed')"
          ></app-table-sort>
        </th>
        <td class="payments__table-td" mat-cell *matCellDef="let element">
          <mat-checkbox
            color="primary"
            [(ngModel)]="element.isPayed"
            (ngModelChange)="update(element)"
          ></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td
          class="payments__table-td payments__table-td--actions"
          mat-cell
          *matCellDef="let element"
        >
          <img
            src="assets/img/svg/edit-icon.svg"
            (click)="openNewPaymentDialog(element)"
            role="button"
            aria-pressed="false"
          />

          <img
            src="assets/img/svg/delete-icon.svg"
            (click)="openDeleteDialog(element)"
            role="button"
            aria-pressed="false"
          />
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell payments__table-td-not-found-message" colspan="6">
          Nenhum dado encontrado para "{{ filterForm.get("value").value }}"
        </td>
      </tr>
    </table>
  </div>
</div>
