<main id="payments" class="payments">
  <span class="page__title page__span">Meus pagamentos</span>
  <div class="payments__box-button">
    <button mat-raised-button color="primary" (click)="openDialog()">
      ADICIONAR PAGAMENTO
    </button>
  </div>

  <app-payments-list-table
    [payments]="payments"
    (pageChangeEvent)="getAllPayments()"
    (applyFilterEvent)="getAllPayments($event)"
    (editEvent)="openDialog($event)"
    (payedEvent)="update($event)"
    (deleteEvent)="openDeleteDialog($event)"
  ></app-payments-list-table>
</main>
