@import "mixins";

.payments {
  width: 100%;

  text-align: center;

  @include md {
    text-align: left;
  }

  &__new-payment-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1rem;

    @include md {
      justify-content: flex-end;
    }
  }

  &__filter-pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--input {
      width: 20rem;
    }

    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
      background-color: transparent;
    }

    ::ng-deep .mat-select-value {
      color: var(--body-text);
      font-size: 1rem;
      margin-left: 1rem;
    }

    ::ng-deep .mat-select-arrow {
      color: var(--backgroud);
    }

    ::ng-deep .mat-option-text {
      text-align: right;
    }

    ::ng-deep .mat-button-wrapper {
      color: var(--backgroud);
    }

    form {
      display: flex;
      align-items: center;

      div {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        margin-bottom: 19px;

        cursor: pointer;
      }

      span {
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        font-size: 1rem;
      }

      img {
        width: 25px;
        margin-right: 5px;
      }
    }
  }

  &__table {
    width: 100%;

    &-th {
      position: relative;

      &--sort-icon {
        top: 35%;
        position: absolute;
        margin-left: 0.5rem;
      }

      &--bold {
        font-weight: 500;
        font-size: 1rem;
        color: var(--body-text);
      }
    }

    &-td {
      color: var(--body-text);
      padding: 1rem 0;

      border: 0;

      &-span {
        display: block;

        &:first-child {
          margin: 0.5rem 0 0 0;
        }

        &:last-child {
          color: var(--secondary-text);
          margin: 0.5rem 0 0.5rem 0;
        }
      }
    }

    &-td--actions {
      display: flex;
      justify-content: flex-end;

      img {
        cursor: pointer;

        &:first-child {
          margin-right: 1rem;
        }
      }
    }

    &-td-not-found-message {
      text-align: center;
      font-size: 1rem;
      color: var(--body-text);
    }
  }

  &__box-loading {
    width: 100%;
    margin-top: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-title {
      font-family: "Montserrat", Arial, Helvetica, sans-serif;
      font-size: 1.5rem;
      margin-top: 5rem;
    }
  }
}
