<div class="body">
  <picpay-header></picpay-header>
  <div class="upper-container">
    <div class="title">
      <p>{{ title }}</p>
    </div>
    <div class="add-payment-button">
      <button mat-flat-button (click)="addPaymentDialog('add')">
        ADICIONAR PAGAMENTO
      </button>
    </div>
  </div>

  <div class="table mat-elevation-z8">
    <div class="table-filters">
      <mat-form-field appearance="standard">
        <mat-label>Filtro</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event.target.value)"
          placeholder="Ex. ABC123"
          #input
        />
      </mat-form-field>

      <mat-paginator
        [length]="dataSource"
        [pageSize]="5"
        showFirstLastButtons
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>

    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuário</th>
        <td mat-cell *matCellDef="let element">
          <p>{{ element.name }}</p>
          <p>@{{ element.username }}</p>
        </td>
        
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Título</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
        <td mat-cell *matCellDef="let element">
          <p>{{ element.date | date: "mediumDate" }}</p>
          <p>{{ element.date | date: "mediumTime" }}</p>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
        <td mat-cell *matCellDef="let element">
          {{ element.value | currency }}
        </td>
      </ng-container>

      <ng-container matColumnDef="isPayed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pago</th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [checked]="element.isPayed" (change)="updatePaymentStatus(element.id)"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="editPayment('edit', element.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deletePayment(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
