<h2 mat-dialog-title>
  {{ 'PAYMENTS.ADD_PAYMENT_DIALOG.ADD_PAYMENT' | translate }}
</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="updatePaymentForm" class="payment-form">
    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'PAYMENTS.ADD_PAYMENT_DIALOG.USER' | translate }}</mat-label>
          <input matInput placeholder="Placeholder" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'PAYMENTS.ADD_PAYMENT_DIALOG.VALUE' | translate }}</mat-label>
          <input matInput placeholder="Placeholder" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'PAYMENTS.ADD_PAYMENT_DIALOG.DATE' | translate }}</mat-label>
          <input matInput placeholder="Placeholder" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'PAYMENTS.ADD_PAYMENT_DIALOG.TITLE' | translate }}</mat-label>
          <input matInput placeholder="Placeholder" />
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>
    {{ 'PAYMENTS.ADD_PAYMENT_DIALOG.CANCEL' | translate }}
  </button>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    {{ 'PAYMENTS.ADD_PAYMENT_DIALOG.SAVE' | translate }}
  </button>
</mat-dialog-actions>
