@import '/src/assets/styles/colors.scss';

.task-delete {
  padding: 16px;
  font-family: 'Lato', sans-serif;

  &__title {
    font-size: 18px;
    color: $dark-gray;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
  }

  &__actions {
    justify-content: space-evenly;

    .button {
      letter-spacing: 1.25px;

      &--primary {
        background-color: $accent-color;
      }
    }
  }
}
