<nav class="toolbar">
  <mat-toolbar color="accent">
    <h1 (click)="logout()">
      <span class="cl-gray ft-weight-800 ft-size-24 ft-montserrat">Pay</span>
      <span class="cl-gray ft-weight-400 ft-size-24 ft-montserrat">Friends</span>
    </h1>
    <img src="./assets/images/ellipse.svg" [matMenuTriggerFor]="menu" matTooltip="Perfil">
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editProfile()">Editar Perfil</button>
      <button mat-menu-item (click)="logout()">Sair</button>
    </mat-menu>
  </mat-toolbar>
</nav>

<main class="m-5">
  <app-title></app-title>
  <app-add-payment></app-add-payment>
  <app-table [dataSource]="dataSource" (action)="actionPage($event)" (sort)="sortPayment($event)">
    <div class="mt-4 float-start">
      <mat-form-field appearance="outline">
        <mat-label>Pesquisar por usuário</mat-label>
        <input type="search" matInput (keyup)="searchValue($event.target.value)" [value]="search" autocomplete="off">
        <mat-icon class="material-icons-outlined cursor-pointer" matSuffix (click)="clickEventHandlerSearch()"
          matTooltip="Pesquisar" matTooltipPosition="above">search</mat-icon>
      </mat-form-field>
    </div>
    <div class="mt-4 float-start btn-container">
      <button class="btn-filter ft-weight-600 ft-size-12 ft-lato" type="button" (click)="clickEventHandlerFilters()">
        <mat-icon>tune</mat-icon>
        <span class="ft-size-18">Filtrar</span>
      </button>
    </div>
    <div class="mt-4 float-end row" filter>
      <div class="col-sm">
        <mat-label class="me-3 cl-black-secundary-title ft-weight-500 ft-size-12 ft-lato">Exibir</mat-label>
        <mat-form-field appearance="outline" class="limit-selected cl-black-gray ft-weight-400 ft-size-14 ft-lato">
          <mat-select [(ngModel)]="limitSelected">
            <mat-option *ngFor="let limit of limitPerPage" [value]="limit" (click)="clickEventHandlerQuery()">
              {{limit}}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>expand_more</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-sm">
        
      </div>
    </div>

  </app-table>
</main>