.toolbar {
    position: relative;
}

.mat-toolbar {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        cursor: pointer;
        span {
            line-height: 29.26px;
        }
    }

    img {
        width: 45px;
        cursor: pointer;
    }
}

.cursor-pointer{
    cursor: pointer;
}
.btn-container{
    display: flex;
    align-items: center;
    height: 50px;
    .btn-filter {
        margin-left: 0.5rem !important;
        line-height: 33px !important;
        background-color: var(--gray-secundary);
        top: 0.40em;
        border-radius: 6px;
        color: var(--black-gray) !important;
        border-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.limit-selected {
    width: 90px;

    ::ng-deep .mat-select-arrow { 
        opacity: 0;  
    }
    
    ::ng-deep .mat-form-field-flex > .mat-form-field-infix { 
        padding: 0.15em 0px 0.55em !important;
    }
    
    ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        transform: translateY(-1.1em) scale(.75);
        width: 133.33333%;  
    }

    ::ng-deep .mat-form-field-label {
        margin-top: 0px !important
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2px;
    ngb-pagination ::ng-deep .page-link {
        border: none !important;
    }
    
    ngb-pagination ::ng-deep ul > li > a {
        color: var(--black-secundary-title) !important; 
        border-radius: 6px;
        min-width: 38px !important;
        min-height: 38px !important; 
        display: flex;
        justify-content: center;
        align-items: center; 
        font-family: 'Lato', sans-serif !important;
        font-weight: 700 !important;
        font-size: 12px !important;
    }
    
    ngb-pagination ::ng-deep ul > li.active > a {
        background-color: var(--blue) !important;
        border-radius: 6px;
        color: var(--white) !important;
        min-width: 38px !important;
        min-height: 38px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Lato', sans-serif !important;
        font-weight: 700 !important;
        font-size: 12px !important;
        span {
            display: none;
        }
    }

}
