.toolbar {
    position: relative;
}

.mat-toolbar {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        cursor: pointer;
        span {
            line-height: 29.26px;
        }
    }

    img {
        width: 45px;
        cursor: pointer;
    }
}

.cursor-pointer{
    cursor: pointer;
}
.btn-container{
    display: flex;
    align-items: center;
    height: 50px;
    .btn-filter {
        margin-left: 0.5rem !important;
        line-height: 33px !important;
        background-color: var(--gray-secundary);
        top: 0.40em;
        border-radius: 6px;
        color: var(--black-gray) !important;
        border-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}