<main class="add-new-payment-dialog-wrapper">
  <h1>Adicionar pagamento</h1>
  <form [formGroup]="addNewPaymentForm" (ngSubmit)="onSubmit()" class="flex items-center justify-between flex-wrap">
    <mat-form-field appearance="outline" class="form-input mb-2">
      <mat-label>Nome</mat-label>
      <input matInput required formControlName="name" />
      <mat-error>Este campo é obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-input mb-2">
      <mat-label>Usuário</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-input mb-2">
      <mat-label>Valor</mat-label>
      <input matInput required formControlName="value" prefix="R$ " mask="separator.0" thousandSeparator="," />
      <mat-error>Este campo é obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-input mb-2">
      <mat-label>Data</mat-label>
      <input matInput readonly required [matDatepicker]="datepicker" formControlName="date" />
      <mat-error>Este campo é obrigatório</mat-error>

      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker> </mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-input mb-2">
      <mat-label>Título</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <div class="actions w-full flex justify-end">
      <button mat-flat-button color="secondary" type="button" (click)="close()">Cancelar</button>
      <button mat-flat-button color="primary" [disabled]="addNewPaymentForm.invalid">Salvar</button>
    </div>
  </form>
</main>
