<app-header></app-header>

<main class="dashboard-wrapper w-full h-full p-8">
  <div class="flex flex-col sm:flex-row items-center justify-between mb-4">
    <h1>Meus Pagamentos</h1>
    <button mat-flat-button color="primary" (click)="addNewPayment()">Adicionar novo pagamento</button>
  </div>

  <div class="data-table">
    <div class="searchbar pl-4 pt-4">
      <mat-form-field>
        <mat-label>Pesquisar por usuário</mat-label>
        <mat-icon matSuffix>search</mat-icon>
        <input matInput placeholder="Pesquisar" [formControl]="searchFormControl" />
      </mat-form-field>
    </div>

    <table mat-table matSort [dataSource]="dataSource" class="overflow-auto sm:overflow-hidden w-full flex sm:inline-table flex-col max-h-80 sm:max-h-max table-horizontal-mobile">
      <ng-container matColumnDef="picture">
        <th mat-header-cell *matHeaderCellDef>Foto</th>
        <td mat-cell *matCellDef="let row" data-label="Foto">
          <img [src]="row.image ? row.image : 'https://picsum.photos/64/64'" loading="lazy" width="64" height="64" />
        </td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuário</th>
        <td mat-cell *matCellDef="let row" data-label="Usuário">
          <div class="flex flex-col">
            <span class="main-text">{{ row.name }}</span>
            <span class="secondary-text text-xs" *ngIf="row.username">@{{ row.username }}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Título</th>
        <td mat-cell *matCellDef="let row" data-label="Título">
          <div>
            {{ row.title }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
        <td mat-cell *matCellDef="let row" data-label="Data">
          <div class="flex flex-col">
            <span class="main-text">{{ row.date | date }}</span>
            <span class="secondary-text text-xs">{{ row.date | date: 'shortTime' }}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
        <td mat-cell *matCellDef="let row" data-label="Valor">
          <div>{{ row.value | currency: 'BRL' }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="isPayed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pago</th>
        <td mat-cell *matCellDef="let row" data-label="Pago">
          <mat-checkbox disabled [checked]="row.isPayed"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ações</th>
        <td mat-cell *matCellDef="let row" data-label="Ações">
          <button mat-icon-button (click)="openEditPaymentModal(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="confirmDeletePayment(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 8]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</main>
