@import '_variables';

.dashboard-wrapper {
  background: $background-gray;
}

.secondary-text {
  color: $secondary-text;
}

:host {
  ::ng-deep {
    tr.mat-row {
      height: 64px;
    }
  }
}

.searchbar {
  background: white;
  border-radius: 8px 8px 0 0;
}