<div class="container">
  <div class="row">
    <span class="modal-title">{{data.title}}</span> 
    <form class="payment-form" [formGroup]="taskForm">
      <div class="body-modal">
        <div class="col-12 d-flex justify-content-around">
          <div class="col-6">
            <mat-form-field class="col-11" appearance="outline">
              <mat-label>Nome Usuário</mat-label>
              <input matInput placeholder="Usuário" formControlName="name" required>
              <mat-error>Campo Obrigatório</mat-error>
            </mat-form-field>
          </div>
          
          <div class="col-6">            
            <mat-form-field class="col-11 form-field" appearance="outline">
              <mat-label>Valor</mat-label>
              <input matInput currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" placeholder="Valor" formControlName="value" required>
              <mat-error>Campo Obrigatório</mat-error>
            </mat-form-field>
          </div>       
        </div>

        <div class="col-12 d-flex justify-content-around">
          <div class="col-6">
            <mat-form-field class="col-11" appearance="outline">
              <mat-label>Data</mat-label>
              <input matInput [matDatepicker]="picker" [disabled]="true" placeholder="Data" formControlName="date" required>
              <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
              <mat-datepicker #picker [disabled]="false"></mat-datepicker>
              <mat-error>Campo Obrigatório</mat-error>
            </mat-form-field>
          </div>

          <div class="col-6">
            <mat-form-field class="col-11" appearance="outline">
              <mat-label>Usuário</mat-label>
              <input matInput placeholder="Usuário" formControlName="username" required>
              <mat-error>Campo Obrigatório</mat-error>
            </mat-form-field>
          </div>
        </div> 

        <div class="col-12 d-flex justify-content-around align-items-baseline">   
          <div class="col-6">
            <mat-form-field class="col-11" appearance="outline">
              <mat-label>Título</mat-label>
              <input matInput placeholder="Título" formControlName="title" required>
              <mat-error>Campo Obrigatório</mat-error>
            </mat-form-field>
          </div>

          <div class="col-6">
            <mat-checkbox formControlName="isPayed">Está Pago</mat-checkbox>  
          </div >       
        </div>
      </div>    
        
      <div class="d-flex justify-content-end">
        <button mat-raised-button class="cancel-button" (click)="closeModal()">CANCELAR</button>
        <button mat-raised-button [disabled]="taskForm.invalid" class="default-button" (click)="data?.edit ? updateTask() : newTask()">{{data?.edit ? 'ATUALIZAR' : 'SALVAR'}}</button>
      </div>         
    </form>
  </div>
</div>
