.box{
    margin-top: 20px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(4, 38, 82, 0.06);
    border-radius: 8px;
}

.body-form{
    margin: 15px
}

.form-field{
    width: 250px;
}

.form-field-icon{
    color: #69788C;
}

.filter-button{
    background: #E6ECF0;
    border-radius: 6px;
    padding: 7px;
    margin: 10px !important;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #2D3540;
    width: 70px;
    height: 40px;
}

.icon-button-filter{
    margin-right: 5px;
}

.paginator{
    display: flex;
}

.title{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #2D3540;
}

.mat-row:nth-child(even){
    background-color: #F5F8FA;
}
        
.mat-row:nth-child(odd){
    background-color: white;
}

.description{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2D3540;
}

.secondary-description{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #69788C;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #007DFE;
}

.icon-action{
    color: #333333;
    font-size: 20px;
    cursor: pointer;
}