@import "variables";

* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', sans-serif; }

.main-btn {
  height: 36px;
  background-color: $blue;
  color: white;
  border-radius: 4px;
} 
