@import  'customize-bootstrap.scss' ; 
@import  '../node_modules/bootstrap/scss/bootstrap' ;

:root {
  --dark-blue: #002D69;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.floating-input-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.floating-input-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 0;
  transition: all 300ms;
  opacity: 0.5;
  padding-left: 10px;
}

.floating-input:focus+.floating-input-placeholder,
.floating-input:valid+.floating-input-placeholder {
  font-size: 80%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  padding-left: 0px;
}

.input-icons {
  position: relative;
  min-width: 40%;
  max-width: 100%;
  // margin-bottom: 10px;

}

.input-icons fa-icon {
  position: absolute;
  right: 15px;
  padding-top: 7px;
  // padding-left: 20px;

  cursor: pointer;
  color: var(--secondary);
}

.input-icons input {
  width: 100%;
  height: 38px;
  padding: 4px 8px;
  text-align: left;

  border: 1px solid #CFDCE5;
  box-sizing: border-box;
  border-radius: 6px;
}
