
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$picpay-desafio-frontend-primary: mat.define-palette(mat.$indigo-palette);
$picpay-desafio-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$picpay-desafio-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$picpay-desafio-frontend-theme: mat.define-light-theme((
  color: (
    primary: $picpay-desafio-frontend-primary,
    accent: $picpay-desafio-frontend-accent,
    warn: $picpay-desafio-frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($picpay-desafio-frontend-theme);

* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.po-button {
  width: 100% !important;
}

[float-right] {
  float: right !important;
}

[float-left] {
  float: left !important;
}

[fullscreen] {
  width: 100%;
}

:root {
  --color-primary: #007DFE;
  --color-secondary: #002D69;
  --color-tertiary: #FFBA55;
  --color-button-color-hover: #007DFE;
  --color-button-border-hover: #007DFE;

  --color-button-background-color-primary-hover: #007DFE;
  --color-button-border-primary-hover: #007DFE;
  --color-button-color-primary-hover: white;

  --color-button-background-color-primary: #007DFE;
  --color-button-border-primary:#007DFE;
  --color-button-color-primary: white;

  --color-button-background-color-primary-pressed: #002D69;
  --color-button-border-primary-pressed: #002D69;
  --color-button-color-primary-pressed: white;

  --color-menu-color-menu-item-text: white;
  --color-menu-color-menu-collapse-icon: white;

  --color-toolbar-background-color-toolbar: #002D69;

  --color-menu-background-color-menu: #007DFE;
  --color-menu-border-menu: #002D69;
  --color-menu-color-menu: #002D69;

  --color-table-color-header: #2D3540;

  --color-checkbox-background-color-disabled: #007DFE;
  --color-checkbox-border-input-disabled: #007DFE;
  --color-checkbox-background-color-icon-disabled: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
