<div class="container">
  <div class="title">
    <p>{{ data.pageTitle }}</p>
  </div>
  <div class="form-wrapper">
    <form class="payment-form" [formGroup]="paymentForm">
      <mat-form-field>
        <mat-label>Usuário</mat-label>
        <input
          matInput
          placeholder=""
          formControlName="name"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Valor</mat-label>
        <input
        [value]="paymentForm.get('value').value"
          matInput
          placeholder=""
          formControlName="value"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Data</mat-label>
        <input [value]="paymentForm.get('date').value | date" matInput placeholder="" formControlName="date"  />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Título</mat-label>
        <input
          matInput
          placeholder=""
          formControlName="title"
        />
      </mat-form-field>
      <mat-form-field *ngIf="showUserName">
        <mat-label>Usuário</mat-label>
        <input
          matInput
          placeholder=""
          formControlName="username"
        />
      </mat-form-field>
    </form>
  </div>
  <div class="footer">
    <button mat-flat-button mat-dialog-close>CANCELAR</button>
    <button class="primary-button" mat-flat-button mat-dialog-close (click)="updateData(paymentToUpdate.id)">SALVAR</button>
  </div>
</div>
