<div class="container">
  <div class="title">
    <p>{{ data.pageTitle }}</p>
  </div>
  <div class="form-wrapper">
    <form class="payment-form" [formGroup]="paymentForm">
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput placeholder="" formControlName="name" required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Valor</mat-label>
        <input
          [value]="paymentForm.get('value').value"
          matInput
          type="number"
          placeholder=""
          formControlName="value"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Data do pagamento</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [value]="paymentForm.get('date').value"
          matInput
          placeholder=""
          formControlName="date"
          required
        />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Título</mat-label>
        <input matInput placeholder="" formControlName="title" required />
      </mat-form-field>
      <mat-form-field *ngIf="showUserName">
        <mat-label>Usuário</mat-label>
        <input matInput placeholder="" formControlName="username" required />
      </mat-form-field>
    </form>
  </div>
  <div class="footer">
    <button mat-stroked-button mat-dialog-close>CANCELAR</button>
    <button
      class="primary-button"
      mat-flat-button
      mat-dialog-close
      [disabled]="paymentForm.invalid"
      *ngIf="showUserName"
      (click)="addPayment()"
    >
      SALVAR
    </button>
    <button
      class="primary-button"
      mat-flat-button
      mat-dialog-close
      [disabled]="paymentForm.invalid"
      *ngIf="!showUserName"
      (click)="updateData(paymentToUpdate.id)"
    >
      SALVAR
    </button>
  </div>
</div>
