$grey-background-button: #F5F5F5;
$blue-background-button: #007DFE;

$dark-blue-background: #002D69;
$grey-background: #F2F2F2;
$white-background: #FFFFFF;

$grey-input-border: #E4E1E1;

$white-font: #FFFFFF;
$black-font: #000000;
$grey-font: #FFFFFF;
$dark-grey-font: #333333;

$error-color: #820000;
$valid-color: #42A948;