.title {
    font-size: 36px;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page .header {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px 30px;

    background-color: var(--dark-blue);
    color: var(--light);
}

.page .content {
    flex: 1 1 auto;
    background-color: var(--light);
}

.btn-filter {
    background-color: #E6ECF0;
    border-radius: 6px;
}

.custom-pagination::ng-deep .page-link {
    border: 0;
    color: var(--secondary);
}

.custom-pagination::ng-deep .page-item.active .page-link {
    color: var(--light);
    border-radius: 6px;
}

.table td, .table th {
    border: none;
}

.table th {
    border-bottom: 1pt solid #CFDCE5;
}

.stripping {
    background-color: #F5F8FA;
}

.btn-profile-dropdown {
    background-color: var(--dark-blue);
    color: white;
    border: 0;
}

.tasks-content {
    font-family: 'Lato';

    background-color: white;
    box-shadow: 0px 2px 4px rgba(4, 38, 82, 0.06);
    border-radius: 8px;
}
