<div class="page">
	<div class="header">
		<img src="assets/logo-white.png" alt="Logo">

		<div class="rounded-circle">
			<img src="assets/profile-photo.png" alt="Foto de perfil">
		</div>
	</div>

	<div class="content">
		<h2>Meus pagamentos</h2>

		<div class="d-flex justify-content-end">
			<button class="btn btn-primary" (click)="openAddUpdateModal('add')">
				<span class="p-3">ADICIONAR PAGAMENTO</span>
			</button>
		</div>

		<div class="bg-white">
			<div class="row d-flex justify-content-between p-4 mt-3">
				<div class="d-flex col-12 col-lg-6 justify-content-start">
						<div class="input-icons">
							<input type="text" name="search-by" class="input-field" placeholder="Pesquisar por usuário" [(ngModel)]="searchBy">
							<fa-icon [icon]="faSearch" (click)="searchTasks()"></fa-icon>
						</div>
	
					<div class="ml-2">
						<button class="btn btn-filter">
							<img src="assets/filter-icon.png" alt="Ícone filtros"> Filtrar
						</button>
					</div>
				</div>
	
				<div class="d-flex col-12 col-lg-6 justify-content-end">
					<div class="d-flex mr-5">
						<span class="pt-2 mr-2 text-secondary">Exibir</span>
						<select class="form-control" id="limit" [(ngModel)]="limit" (change)="searchTasks()" [disabled]="hasFilters">
							<option *ngFor="let quantity of limitRange" [ngValue]="quantity">{{quantity}}</option>
						</select>
					</div>
	
					<div>
						<pagination 
							class="custom-pagination" 
							previousText="&lsaquo;" 
							nextText="&rsaquo;" 
							[totalItems]="totalTasks" 
							[rotate]="true" 
							[maxSize]="5" 
							[itemsPerPage]="hasFilters ? totalTasks : limit" 
							[(ngModel)]="currentPage" 
							(ngModelChange)="searchTasks()"
							[disabled]="hasFilters"
							>
						</pagination>
					</div>
				</div>
			</div>

			<table class="table borderless">
				<thead>
					<tr>
						<th>Usuário <img class="ml-2 cursor-pointer" src="assets/sort-icon.png" alt="Ordenar" (click)="sortTable('name')"></th>
						<th>Título  <img class="ml-2 cursor-pointer" src="assets/sort-icon.png" alt="Ordenar" (click)="sortTable('title')"></th>
						<th>Data    <img class="ml-2 cursor-pointer" src="assets/sort-icon.png" alt="Ordenar" (click)="sortTable('date')"></th>
						<th>Valor   <img class="ml-2 cursor-pointer" src="assets/sort-icon.png" alt="Ordenar" (click)="sortTable('value')"></th>
						<th>Pago    <img class="ml-2 cursor-pointer" src="assets/sort-icon.png" alt="Ordenar" (click)="sortTable('isPayed')"></th>
						<th colspan="2"></th>
					</tr>
				</thead>
				<tbody>
					<tr [ngClass]="{'stripping': i % 2 !== 0}" *ngFor="let task of tasks; let i = index">
						<td>
							<div>{{task.name}}</div>
							<small class="text-secondary">@{{task.username}}</small>
						</td>
						<td>{{task.title}}</td>
						<td>
							<div>{{formatDate(task.date)}}</div>
							<small class="text-secondary">{{formatHour(task.date)}}</small>
						</td>
						<td>{{formatValue(task.value)}}</td>
						<td><input type="checkbox" name="payed" [checked]="task.isPayed" (change)="updatePayed(task)"></td>
						<td class="text-right">
							<img src="assets/pencil-light-icon.png" alt="Editar" class="cursor-pointer" (click)="openAddUpdateModal('update', task)">
							<img src="assets/times-light-icon.png" alt="Apagar" class="cursor-pointer mx-3" (click)="openDeleteTaskModal(task)">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
