input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--background) inset !important;
}
.input {
  &--w-full {
    width: 100%;
  }

  &--w-90 {
    width: 90%;
  }
}
