<section id="sign-in" class="sign-in">
  <div class="sign-in__box-form">
    <ng-container *ngIf="!isLoading; else loadingContainer">
      <img
        class="sign-in__img-logo"
        src="assets/img/png/payFriends.png"
        alt="Imagem escrito Payfriends"
      />

      <h2 class="sign-in__title">Bem vindo de volta</h2>

      <app-sign-in-form (submitEvent)="signIn($event)"></app-sign-in-form>

      <mat-error
        id="error-message"
        class="sign-in__usernotfound-message"
        *ngIf="isUserNotFoundMessage"
      >
        {{ isUserNotFoundMessage }}
      </mat-error>
    </ng-container>

    <ng-template #loadingContainer>
      <mat-spinner class="sign-in__loader"></mat-spinner>
      <span class="sign-in__loader-title">Carregando</span>
    </ng-template>
  </div>

  <div class="sign-in__box-image">
    <img
      src="assets/img/png/man-doing-online-payment.png"
      alt="Imagem com homem fazendo pagamento online"
    />
  </div>
</section>
