<main id="sign-in" class="sign-in">
  <section class="sign-in__box-form">
    <ng-container *ngIf="!isLoading; else loadingContainer">
      <img
        class="sign-in__img-logo"
        src="assets/img/png/payFriends.png"
        alt="Imagem escrito Payfriends"
      />

      <h2 class="sign-in__title">Bem vindo de volta</h2>

      <mat-error
        id="error-message"
        class="sign-in__usernotfound-message"
        *ngIf="isUserNotFoundMessage"
      >
        {{ isUserNotFoundMessage }}
      </mat-error>

      <form [formGroup]="form" class="sign-in__form">
        <app-input
          id="email"
          type="email"
          label="E-mail"
          placeholder="E-mail"
          formControlName="email"
        ></app-input>

        <app-input
          id="password"
          type="password"
          label="Senha"
          placeholder="Senha"
          formControlName="password"
        ></app-input>

        <button
          id="sign-in-btn"
          type="button"
          class="btn--block"
          color="primary"
          [disabled]="formIsInvalid"
          mat-raised-button
          (click)="signIn()"
        >
          ENTRAR
        </button>
      </form>
    </ng-container>

    <ng-template #loadingContainer>
      <mat-spinner class="sign-in__loader"></mat-spinner>
      <span class="sign-in__loader-title">Carregando</span>
    </ng-template>
  </section>

  <div class="sign-in__box-image">
    <img
      src="assets/img/svgs/people-look-to-celphone.svg"
      alt="Imagem com homem olhando o celular"
    />
  </div>
</main>
