@import "mixins";

.sign-in {
  display: flex;

  width: 100%;
  height: 100vh;

  background: var(--background);

  &__box-form {
    display: flex;
    justify-content: center;

    background-color: var(--background);

    flex-direction: column;

    width: 100%;
    height: 100%;

    padding: 0 30px;

    @include md {
      width: 40%;
      padding: 0 106px;
    }
  }

  &__img-logo {
    width: 9rem;
  }

  &__title {
    color: var(--title);
    font-family: "Montserrat", Arial, Helvetica, sans-serif;

    margin-top: 10px;
  }

  &__box-image {
    display: none;

    @include md {
      width: 60%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
