<div id="sign-in" class="sign-in">
  <div class="sign-in__box-form">
    <img
      class="sign-in__img-logo"
      src="assets/img/png/payFriends.png"
      alt="Imagem escrito Payfriends"
    />

    <h2 class="sign-in__title">Bem vindo de volta</h2>

    <app-sign-in-form (submitEvent)="signIn($event)"></app-sign-in-form>
  </div>

  <div class="sign-in__box-image">
    <img
      src="assets/img/svgs/people-look-to-celphone.svg"
      alt="Imagem com homem olhando o celular"
    />
  </div>
</div>
