.header {
    background-color: #002D69;
    padding: 30px;

    &__container {
        display: flex;
        justify-content: space-between;

        .logo {
            object-fit: contain;
        }
    }
}