<div id="payments" class="box-content">
  <div>
    <div class="col-12">
      <h3 class="title">Meus Pagamentos</h3>
    </div>
  </div>
  <div>
    <form class="filter-container">
      <div>
        <input 
          style="height: 52px; border-radius: 5px; width: 200px"
          id="filter-input"
          type="search"
          class="box-pagination--input"
          placeholder="Pesquisar por usuário"
          [formControl]="form.controls.name"
        >
      </div>

      <div>
        <input 
          style="height: 52px; border-radius: 5px; width: 200px"
          id="filter-input"
          type="search"
          class="box-pagination--input"
          placeholder="Pesquisar por título"
          [formControl]="form.controls.title"
        >
      </div>        
      
      <div>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Período</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input 
              matStartDate 
              placeholder="Início" 
              [formControl]="form.controls.startDate"
              />
            <input 
              matEndDate 
              placeholder="Fim" 
              [formControl]="form.controls.endDate" 
              />
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div>
        <picpay-button
          [tipo]="'button'"
          [fixWidth]="'200px'"
          [fixHeight]="'52px'"
          [class]="'btn btn-outline-picpay w-100 mt-1'"
          [label]="'Pesquisar'"
          (click)="filterPayments()"
        ></picpay-button>
      </div>
      <div>
        <picpay-button
          [fixWidth]="'200px'"
          [tipo]="'button'"
          [fixHeight]="'52px'"
          [class]="'btn btn-outline-picpay w-100 mt-1'"
          [label]="'Limpar'"
          (click)="cleanSearch()"
        ></picpay-button>
      </div>
    </form>
  </div>

  <div class="new-payment" style="text-align: end;">
    <button style="margin-top: 20px"
      id="new-payment-button"
      mat-raised-button
      color="primary"
      (click)="addPayment()"
    >
      ADICIONAR PAGAMENTO
    </button>
  </div>

  <div>
    <mat-paginator
      #paginatorPayment
      [length]="paymentLength"
      [pageSize]="paymentPageSize"
      [pageSizeOptions]="paymentPageSizeOptions"
      (page)="changePaymentPage($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>

  <table mat-table matSort [dataSource]="dataSource" class="table">
    <ng-container matColumnDef="username">
      <th class="th bold" mat-header-cell *matHeaderCellDef>
        <span>Usuário</span>
        <app-sort class="th sort-icon" (sortEvent)="orderBy('username')"></app-sort>
      </th>
      <td class="td" mat-cell *matCellDef="let element">
        <span class="td span">{{ element.name }}</span>
        <span class="td span">@{{ element.username }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th class="th bold" mat-header-cell *matHeaderCellDef>
        Título
        <app-sort class="th sort-icon" (sortEvent)="orderBy('title')"></app-sort>
      </th>
      <td class="td" mat-cell *matCellDef="let element">
        <span>{{ element.title }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th class="th bold" mat-header-cell *matHeaderCellDef>
        Data
        <app-sort class="th sort-icon" (sortEvent)="orderBy('date')"></app-sort>
      </th>
      <td class="td" mat-cell *matCellDef="let element">
        <span class="td span">{{ element.date | date:'dd/MM/yyyy HH:mm' }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th class="th bold" mat-header-cell *matHeaderCellDef>
        Valor
        <app-sort class="th sort-icon" (sortEvent)="orderBy('value')"></app-sort>
      </th>
      <td class="td" mat-cell *matCellDef="let element">
        <span>{{ element.value | currency: "BRL" }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="isPayed">
      <th class="th bold" mat-header-cell *matHeaderCellDef>
        Pago
        <app-sort class="th sort-icon" (sortEvent)="orderBy('isPayed')"></app-sort>
      </th>
      <td class="td" mat-cell *matCellDef="let element">
        <mat-checkbox color="primary" [checked]="element.isPayed" (change)="updatePayment(element, true)"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td class="td td-actions" mat-cell *matCellDef="let element">
        <img src="assets/img/svg/edit-icon.svg" (click)="updatePayment(element, false)" role="button" aria-pressed="false"/>
        <img src="assets/img/svg/delete-icon.svg" (click)="deletePayment(element)" role="button" aria-pressed="false"/>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell payment-empty" colspan="6">
        Nenhum dado encontrado.
      </td>
    </tr>
  </table>
</div>